@model HtmxWithDotnet.Pages.VerticalMenuModel
@{
}

<div class="vertical-menu">
    @foreach (var mi in Model.GetMenuItems())
    {
        <a href="@mi.Link" class="@(mi.Selected ? "active" : "")" hx-get="@mi.Link">@mi.Text</a>
    }
</div>
